<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{dd.MM.yyyy - HH:mm:ss.SSS, GMT+1:00} %-5level %logger{0} - %msg%n</pattern>
        </encoder>
    </appender>
    <root level="INFO">
        <appender-ref ref="STDOUT" />
    </root>

    <!--Application Log-->
    <appender name="ref/hawthorne/bot/application" class="com.google.cloud.logging.logback.LoggingAppender">
        <log>hawthorne/bot/application</log>
        <flushLevel>WARN</flushLevel>
    </appender>
    <logger name="hawthorne/bot/application" level="INFO">
        <appender-ref ref="ref/hawthorne/bot/application" />
    </logger>
    <logger name="JDA" level="INFO">
        <appender-ref ref="ref/hawthorne/bot/application" />
    </logger>
    <logger name="WebSocketClient" level="INFO">
        <appender-ref ref="ref/hawthorne/bot/application" />
    </logger>
    <logger name="modulizer" level="INFO">
        <appender-ref ref="ref/hawthorne/bot/application" />
    </logger>

</configuration>